# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# =========================
# Environment & Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# ML / MLOps Artifacts
# =========================
artifact/
artifacts/
mlruns/
.mlflow/
reports/figures

# DVC
.dvc/cache/

# =========================
# Data
# =========================
data/
*.csv
*.parquet
*.pkl
*.joblib
*.h5
*.hdf5
*.nc
*.zip

# =========================
# Model Files
# =========================
models/
*.pt
*.pth
*.onnx
*.keras
*.weights

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# =========================
# Type Checking
# =========================
.mypy_cache/
.pyre/
.pytype/

# =========================
# Ruff
# =========================
.ruff_cache/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp
*.bak
*.swp